<!DOCTYPE html>
<html lang="en" ng-app="angApp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/css/app.css">
  <script src="./assets/js/angular.js"></script>
  <script src="./assets/js/filter.js"></script>
  <title>Document</title>
</head>
<body ng-controller="angController" ng-style="bodyObj">
  <!-- ng-src -->
  <!-- Filters in angularJS -->
 <!-- <p ng-style="testObj"> Hello World</p> -->
 <div ng-style="div" >
  <img ng-src="{{img}}" ng-style="imgObjStyle" alt="">
  <a href=""ng-repeat="link in links" ng-style="td">{{ link }}</a>
 
 </div>
 <input type="number" ng-model="rows" placeholder="How many rows do you want to see? : ">
 <input type="text" ng-model="order" placeholder="order by?  "> <i>Preceed with "-" to reverse</i> <br>
 <input type="search" name="" ng-model="search" id="" placeholder="Search">
 <table ng-style="tableObjStyle">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Name</th>
        <th>Course</th>
        <th>Networth</th>
      </tr>
      <tbody>
        <tr ng-repeat="student in students | limitTo:rows | orderBy:order | filter: search">
          <td>{{student.sn}}</td>
          <td>{{student.name | uppercase}}</td>
          <td>{{student.course | uppercase}}</td>
          <td>{{student.networth | currency:"&#x20a6;"}}</td>
        </tr>
      </tbody>
    </thead>
 </table>
</body>
</html>