<!-- Portfolio-->
<div id="portfolio" >
  <div class="container-fluid p-0">
      <div class="row g-0">
          <div class="col-lg-4 col-sm-6" ng-repeat="photo in photos | limitTo:limit">
              <a class="portfolio-box" href="{{photo.url}}" title="Project Name">
                  <img class="img-fluid" ng-src="{{photo.url}}" alt="{{photo.title}}" />
                  <div class="portfolio-box-caption">
                      <div class="project-category text-white-50">Category</div>
                      <div class="project-name">Project Name</div>
                  </div>
              </a>
          </div>
      </div>
  </div>
</div>
<div class="container mx-auto text-center">
   <a href="" class="text-decoration-none inline-block px-4" ng-click="limit = '10'">1</a><a href="" class="text-decoration-none inline-block px-4" ng-click="limit='20'">2</a><a href="" class="text-decoration-none inline-block px-4" ng-click="limit='30'">3</a><a href="" class="text-decoration-none inline-block px-4" ng-click="limit='40'">4</a>
</div>
<!-- Call to action-->
<section class="page-section bg-dark text-white">
    <div class="container px-4 px-lg-5 text-center">
        <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
        <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
    </div>
</section>